body {
    font-family: 'Raleway', sans-serif;
    background-color: #1b262c;

}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "hero"
        "footer"
    ;
}

.header {
    font-size: 70px;
    font-weight: bold;
    color: white;
}